<%- include ('ejs/header.ejs'); -%>
<head>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<div class="all">
    <div class="item1"><img src="/images/stock-mug.jpg"></div>
    <div class="item2"><img src="/images/stock-kettle.jpg"></div>
    <div class="item3"><img src="/images/stock-tea-strainer.jpg"></div>
</div>
<%- include ('ejs/footer.ejs'); -%>