<%- include ('ejs/header.ejs'); -%>
<head>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>



<div class="bg_img">
    <div class="overlay">
        <h3>O naszej firmie</h3>
        <p>Jesteśmy małą firmą dostarczającą najwyższej klasy herbatę z Ceylonu oraz świeżno paloną kawę Arabicę.</p>
        <h3>Nasi dostawcy</h3>
        <p>Współpracujemy z dostawcami, którzy pozyskują herbatę fairtrade, to
            znaczy że pracownicy którzy zajmują się zbiorem liści herbaty oraz ziaren kawy pracują
            na uczciwych warunkach.
        </p>
        <h3>Nasze produkty</h3>
        <p>Staramy się wprowadzić nowe produkty, jednak nasza strona dopiero co się rozwija
            prosimy Was o cierpliwość i dziękujemy za ciepłe przyjęcie Co-Tea!
        </p>
        <h3>Kontakt</h3>
        <p>telefon: 123 456 789</p>
        <p>mail: co_tea_support@gmail.com</p>
    </div>
</div>
<%- include ('ejs/footer.ejs'); -%>