<%- include ('ejs/header.ejs'); -%>

<div class="reg">
    <form action="" method="post">
    <h1>Rejestracja:</h1>
        <label>nazwa użytkownika</label>
        <input type="text" name="nick"/>
        <label>hasło</label>
        <input type="text" name="pass"/>
        <label>e-mail</label>
        <input type="email" name="mail"/>
        <button> Zarejestruj się </button>
    </form>
</div>
<script src="/routes/index.js"></script>