<%- include ('ejs/header.ejs'); -%>
<head>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<div class="all">
    <div class="item1"><img src="/images/harbata_zielona.jpg"></div>
    <div class="item2"><img src="/images/herbata_czarna.jpg"></div>
    <div class="item3"><img src="/images/herbata_biala.jpeg"></div>
</div>
<%- include ('ejs/footer.ejs'); -%>