
<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Herbaciarnia</title>
</head>

<body>
<nav class="nav">
    <div class="logo">
        <h4>Admin-Area</h4>
    </div>

    <ul class="nav-links">
        <li><a >Strona główna</a></li>
        <li><a >Produkty</a></li>
        <li><a >O naszej firmie</a></li>
    </ul>
    <div class="extra">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<script src="/javascripts/nav.js"></script>
</body>
</html>
