*{
    overflow-x: hidden;
}

input {
    display: none;
}
input {
    display: inline-block;
}

.loop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    margin-left: 15%;
    margin-top: 8%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.all img {
    max-width: 50%;
}
h1 {
    padding-bottom: 20px;
}
.th {
    padding-right: 30px;
}
.sum {
    padding-top: 20px;
    font-size: 30px;
    font-weight: 900;
}
.add_product{
    display: block;
    margin: 4% 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.bg_img{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("https://github.com/DominikaMaciag/projekt-sklep-internetowy/blob/main/public/images/tea_add2.jpg?raw=true");
}

.overlay{
    width: 100%;
    height: 100%;
    font-size: 26px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    white-space: pre-line;
    color: #e8e8e8;
}

p{
    margin-bottom: 5px;
}

